FITNOTES_IMAGE_TAG=main
POSTGRES_USER=fitnotes
POSTGRES_DB=fitnotes
POSTGRES_PASSWORD=change-this-postgres-password
JWT_SECRET=change-this-jwt-secret
POSTGRES_DATA_DIR=/mnt/docker/volumes/fitnotes/postgres
